<ion-content padding class="background" [fullscreen]="true">

    <ion-card-title>
        <!-- <img src="https://firebasestorage.googleapis.com/v0/b/changement-climatique-3e1a1.appspot.com/o/localites%2Fnuage.gif?alt=media&token=f6a446bd-5d84-4bf7-a264-5aeaca2a3a31"> -->
    </ion-card-title>
    <div>
        <ion-card-title style="padding-top: 8em;">
            <img src="https://firebasestorage.googleapis.com/v0/b/changement-climatique-3e1a1.appspot.com/o/assetes%2FMali1.png?alt=media&token=23464333-0cb0-4ec2-a251-122ba4ce358b">
        </ion-card-title>
    </div>
    <ion-button fill="clear" routerLink="/tabs" expand="full ">Découvrir</ion-button>

</ion-content>
