
<ion-header class="ion-no-border">

  <ion-item lines="none">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-avatar slot="end">
    </ion-avatar>
    <ion-label>
      <h2>Recommendation</h2>
      <p></p>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true">

<div class="ion-padding wrapper">

  <ion-searchbar></ion-searchbar>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-baseline">
      <ion-col size="6">
        <h4 class="title">
          Agriculture
        </h4>
      </ion-col>
      <ion-col size="6">
      </ion-col>
    </ion-row>
  </ion-grid>

  </div>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-slides [options]="options">

          <ion-slide>
            <ion-card class="card">
              <ion-card-content class="ion-text-left">

                <div class="img-wrapper">
                  <ion-img src="../../assets/images/Mali1.png"></ion-img>
                </div>

                <ion-card-title class="title">Recommendation concernant l'agriculture</ion-card-title>
                <ion-card-subtitle>Lire et comprendre</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="card">
              <ion-card-content class="ion-text-left">

                <div class="img-wrapper">
                  <img src="../../assets/images/Mali1.png" alt="">
                </div>

                <ion-card-title class="title"></ion-card-title>
                <ion-card-subtitle>description</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-half"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="card">
              <ion-card-content class="ion-text-left">

                <div class="img-wrapper">
                  <ion-img src=""></ion-img>
                </div>

                <ion-card-title class="title">Recommendation concernant l'agriculture</ion-card-title>
                <ion-card-subtitle>description</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="card">
              <ion-card-content class="ion-text-left">

                <div class="img-wrapper">
                  <ion-img src="../../assets/images/Mali1.png"></ion-img>
                </div>

                <ion-card-title class="title">Recommendation concernant l'agriculture</ion-card-title>
                <ion-card-subtitle>description</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="card">
              <ion-card-content class="ion-text-left">

                <div class="img-wrapper">
                  <ion-img src="../../assets/images/bougouni.jpg"></ion-img>
                </div>

                <ion-card-title class="title">Recommendation concernant l'agriculture</ion-card-title>
                <ion-card-subtitle>description</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>


          <ion-slide>
            <ion-card class="card">
              <ion-card-content class="ion-text-left">

                <div class="img-wrapper">
                  <ion-img src="../../assets/images/bougouni.jpg"></ion-img>
                </div>

                <ion-card-title class="title">L'agriculture</ion-card-title>
                <ion-card-subtitle>description</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>

        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div class="ion-padding-horizontal wrapper">

    <ion-grid class="ion-no-padding">
      <ion-row class="ion-align-items-baseline">
        <ion-col size="6">
          <h4 class="title">
            Cours d'eau au Mali
          </h4>
        </ion-col>
        <ion-col size="6">
          <h4 class="more ion-text-end">
          </h4>
        </ion-col>
      </ion-row>
    </ion-grid>

    </div>

    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="12">
          <ion-slides [options]="categories">

            <ion-slide>
              <ion-card class="category" color="danger">
                <ion-card-header class="ion-text-center">
                  <ion-icon src="assets/dish.svg"></ion-icon>
                  <ion-card-title>Fleuve</ion-card-title>
                  <ion-card-subtitle>tous</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card class="category" color="primary">
                <ion-card-header class="ion-text-center">
                  <ion-icon src="assets/cocktail.svg"></ion-icon>
                  <ion-card-title>Marigo</ion-card-title>
                  <ion-card-subtitle>tous</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card class="category" color="warning">
                <ion-card-header class="ion-text-center">
                  <ion-icon src="assets/burger.svg"></ion-icon>
                  <ion-card-title>les barages</ion-card-title>
                  <ion-card-subtitle>tous</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card class="category" color="success">
                <ion-card-header class="ion-text-center">
                  <ion-icon src="assets/pizza.svg"></ion-icon>
                  <ion-card-title>Fleuve sénégal</ion-card-title>
                  <ion-card-subtitle>longuere</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card class="category" color="tertiary">
                <ion-card-header class="ion-text-center">
                  <ion-icon src="assets/taco.svg"></ion-icon>
                  <ion-card-title>Fleuve niger</ion-card-title>
                  <ion-card-subtitle>tous</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card class="category" color="danger">
                <ion-card-header class="ion-text-center">
                  <ion-icon src="assets/cookies.svg"></ion-icon>
                  <ion-card-title>Bani</ion-card-title>
                  <ion-card-subtitle>Something here</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card class="category" color="secondary">
                <ion-card-header class="ion-text-center">
                  <ion-icon src="assets/noodle.svg"></ion-icon>
                  <ion-card-title>bafing</ion-card-title>
                  <ion-card-subtitle>Something here</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>





          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>



    <div class="ion-padding-horizontal wrapper">

      <ion-grid class="ion-no-padding">
        <ion-row class="ion-align-items-baseline">
          <ion-col size="6">
            <h4 class="title">
              Recommendation
            </h4>
          </ion-col>
          <ion-col size="6">
            <h4 class="more ion-text-end">
              voir plus
            </h4>
          </ion-col>
        </ion-row>
      </ion-grid>

      </div>

      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12">
            <ion-slides [options]="options">

              <ion-slide>
                <ion-card class="card">
                  <ion-card-content class="ion-text-left">

                    <div class="img-wrapper">
                      <ion-img src=""></ion-img>
                    </div>

                    <ion-card-title class="title">L'etat du foret</ion-card-title>
                    <ion-card-subtitle>description</ion-card-subtitle>
                    <ion-card-subtitle>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </ion-card-subtitle>
                  </ion-card-content>
                </ion-card>
              </ion-slide>

              <ion-slide>
                <ion-card class="card">
                  <ion-card-content class="ion-text-left">

                    <div class="img-wrapper">
                      <ion-img src=""></ion-img>
                    </div>

                    <ion-card-title class="title">Faya kassela</ion-card-title>
                    <ion-card-subtitle>description</ion-card-subtitle>
                    <ion-card-subtitle>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </ion-card-subtitle>
                  </ion-card-content>
                </ion-card>
              </ion-slide>

              <ion-slide>
                <ion-card class="card">
                  <ion-card-content class="ion-text-left">

                    <div class="img-wrapper">
                      <ion-img src=""></ion-img>
                    </div>

                    <ion-card-title class="title"> forêt de Fazana</ion-card-title>
                    <ion-card-subtitle>description</ion-card-subtitle>
                    <ion-card-subtitle>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star-half"></ion-icon>
                    </ion-card-subtitle>
                  </ion-card-content>
                </ion-card>
              </ion-slide>

            </ion-slides>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="ion-padding">
        <ion-row>
          <ion-col size="6">
            <ion-badge color="light" class="ion-margin-end">
              A votre service
            </ion-badge>
          </ion-col>
          <ion-col size="6" class="ion-text-end">
            <ion-badge color="light">
              Pour vous accompagner
            </ion-badge>
          </ion-col>
        </ion-row>
      </div>
</ion-content>
