ion-content {
  --background: linear-gradient(#065ef6, #819ef5, #f4f5f8, #f4f5f8);
  ion-item{
    ion-cars{
      ion-card-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
img{
  border-radius: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

