<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>confidentialite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="justify-content: space-between;">
    <ion-text style="font-size: 20px; justify-content: baseline; display: flex; text-justify: auto; padding-left: 4px;">
      Soucieux du respect de la vie privée de ses Utilisateurs, Mali Climat s’engage à assurer la protection des données
      personnelles de ses Utilisateurs.
      Par conséquent, aucune donnée transmise par l’intermédiaire de notre application ne pourra être consultée par un
      tiers non autorisé. Mali Climat prend toutes les précautions utiles pour préserver la sécurité de ces données et
      notamment, empêcher qu’elles soient déformées ou endommagées.
      Mali Climat traite l’ensemble des données de ses Utilisateurs conformément à la présente politique de
      confidentialité. <br>
      I. Définitions
      – donnée personnelle : toute information relative à une personne physique identifiée ou qui peut être identifiée,
      directement ou indirectement, par référence à un numéro d’identification ou à un ou plusieurs éléments qui lui
      sont propres.
      – Utilisateur : toute personne physique majeure capable, ou toute personne morale, utilisant les services qui sont
      proposés sur l’application Mali Climat, pouvant être soit un particulier, soit un professionnel.<br>
      II. Collecte et diffusion des données personnelles
      Mali Climat est susceptible de traiter des données personnelles liées à l’Utilisateur notamment lors :

      De la connexion à l'application, <br>

      De la création d’un compte, <br>
      De la vérification par SMS, <br>

      De la publication sur le fil d’actualité, <br>

      De l’ajout d’un relevé pluviométrique <br>

      Les informations susceptibles d’être collectées par Mali Climat sont celles ayant trait à l’identité de
      l’Utilisateur, à ses coordonnées téléphonique, ou encore à des données de connexion.

    </ion-text>
  </ion-card>

</ion-content>
