<ion-header translucent>
  <ion-toolbar>
    <ion-title>Condition d'utilisation</ion-title>
    <ion-buttons slot="start" color="primary">
      <ion-menu-button></ion-menu-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-text color="dark">
      <h5>Conditions Générales d’Utilisation – 22/02/2022</h5>
    </ion-text>

    <p>
      Les présentes conditions générales d'utilisation (dites « CGU ») ont pour objet l'encadrement juridique des
      modalités de mise à disposition de l’application et des services par Mali-Climat et de définir les conditions
      d’accès et d’utilisation des services par « l'Utilisateur ».
      Les présentes CGU sont accessibles sur l’application à la rubrique «CGU» <br>
      Toute inscription ou utilisation de l’application implique l'acceptation sans aucune réserve ni restriction des
      présentes CGU par l’utilisateur. Lors de l'inscription sur l’application via le Formulaire d’inscription, chaque
      utilisateur accepte expressément les présentes CGU en cochant la case précédant le texte suivant : « Je reconnais
      avoir lu et compris les CGU et je les accepte ».
      En cas de non-acceptation des CGU stipulées dans le présent contrat, l'Utilisateur se doit de renoncer à l'accès
      des services proposés par l’application. <br>
      Mali-Climat se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes CGU.
      Article 1 : Les mentions légales
    </p>
  </ion-card>
</ion-content>
